extends layout

block content
    div.container
        .row
            .col-12.col-sm-12.col-md-12.col-lg-4.col-xl-4#hot-deals
                div#hot-deals-header
                    div#title hot deals
                    div
                        ul.nav.nav-tabs
                            li.nav-item
                                a(data-toggle="tab", href="#home").nav-link.active 
                            li.nav-item
                                a(data-toggle="tab", href="#menu1").nav-link 
                            li.nav-item
                                a(data-toggle="tab", href="#menu2").nav-link
                .tab-content
                    .tab-pane.active.container.product#home 
                        .image-hot
                            a(href = "", class = "button-cart") add to cart
                            img(src="https://loremflickr.com/360/290/dog?random=1", alt="img", width = "100%")
                        .product-content
                            .product-nam-and-star
                                .title Aenean Ru Bristique
                                .star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star-o
                                    i.fa.fa-star-o
                                    i.fa.fa-star-o
                            .product-button-and-price
                                .product-button
                                    a.eye(href="#")
                                        i.fa.fa-eye
                                    a.like(href="#")
                                        i.fa.fa-heart-o
                                    a.exchange(href="#")
                                        i.fa.fa-exchange
                                .product-price
                                    span.old-price $350.00
                                    a.price(href="#") $300.00

                    div.tab-pane.container.product#menu1 
                        .image-hot
                            a(href = "", class = "button-cart") add to cart
                            img(src="https://loremflickr.com/360/290/dog?random=2", alt="img", width = "100%")
                        .product-content
                            .product-nam-and-star
                                .title Aenean Ru Bristique 2
                                .star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star-o
                                    i.fa.fa-star-o
                                    i.fa.fa-star-o
                            .product-button-and-price
                                .product-button
                                    a.eye(href="#")
                                        i.fa.fa-eye
                                    a.like(href="#")
                                        i.fa.fa-heart-o
                                    a.exchange(href="#")
                                        i.fa.fa-exchange
                                .product-price
                                    span.old-price $400.00
                                    a.price(href="#") $500.00
                    div.tab-pane.container.product#menu2 
                        .image-hot
                            a(href = "", class = "button-cart") add to cart
                            img(src="https://loremflickr.com/360/290/dog?random=3", alt="img", width = "100%") 
                        .product-content
                            .product-nam-and-star
                                .title Aenean Ru Bristique 3
                                .star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star-o
                                    i.fa.fa-star-o
                                    i.fa.fa-star-o
                            .product-button-and-price
                                .product-button
                                    a.eye(href="#")
                                        i.fa.fa-eye
                                    a.like(href="#")
                                        i.fa.fa-heart-o
                                    a.exchange(href="#")
                                        i.fa.fa-exchange
                                .product-price
                                    span.old-price $400.00
                                    a.price(href="#") $350.00
                
            .col-12.col-sm-12.col-md-12.col-lg-8.col-xl-8
                div(class="slideshow-container", data-autoPlay="2000", data-type="leftRight")
                    div(class="conten-slider")
                        div(class="mySlides")
                            img(src="https://loremflickr.com/750/465/dog?random=1", style="width:100%")
                            div(class="text") 
                                span.title indoor furniture a
                                br
                                span.description save up to 50% of all furniture
                                a(href = "#") SHOP NOW
                        div(class="mySlides")
                            img(src="https://loremflickr.com/750/465/dog?random=2", style="width:100%")
                            div(class="text") 
                                span.title indoor furniture 2
                                br
                                span.description save up to 50% of all furniture
                                a(href = "#") SHOP NOW
                        div(class="mySlides")
                            img(src="https://loremflickr.com/750/465/dog?random=3", style="width:100%")
                            div(class="text") 
                                span.title indoor furniture 3
                                br
                                span.description save up to 50% of all furniture
                                a(href = "#") SHOP NOW
        .row.option
            .col-6.col-sm-6.col-md-6.col-lg-3.col-xl-4

            .col-6.col-sm-6.col-md-6.col-lg-3.col-xl-4
            .col-6.col-sm-6.col-md-6.col-lg-3.col-xl-4
            .col-6.col-sm-6.col-md-6.col-lg-3.col-xl-4

