extends layout

block content
    div.container
        .row
            .col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4#hot-deals
                div#hot-deals-header
                    div#title hot deals
                    div
                        ul.nav.nav-tabs
                            li.nav-item
                                a(data-toggle="tab", href="#home").nav-link.active 
                            li.nav-item
                                a(data-toggle="tab", href="#menu1").nav-link 
                            li.nav-item
                                a(data-toggle="tab", href="#menu2").nav-link
                div.tab-content
                    div.tab-pane.active.container#home 
                        div
                            div add to cart
                            img(src="https://loremflickr.com/360/290/dog", alt="img", width = "100%")
                            div
                                span 25 days
                                span 10 hrs
                                span 45 mins
                                span 30 secs
                        div
                            div Aenean Ru Bristique
                            div
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                            div
                        div
                    div.tab-pane.container#menu1 
                        img(src="https://loremflickr.com/360/291/dog", alt="img", width = "100%")
                    div.tab-pane.container#menu2 
                        img(src="https://loremflickr.com/360/292/dog", alt="img", width = "100%")
                
            .col-12.col-sm-12.col-md-8.col-lg-8.col-xl-8
                div(class="slideshow-container", data-autoPlay="2000", data-type="leftRight")
                    div(class="conten-slider")
                        div(class="mySlides")
                            img(src="https://loremflickr.com/750/465/dog?random=1", style="width:100%")
                            div(class="text") 
                                span.title indoor furniture
                                br
                                span.description save up to 50% of all furniture
                                a(href = "#") SHOP NOW
                        div(class="mySlides")
                            img(src="https://loremflickr.com/750/465/dog?random=2", style="width:100%")
                            div(class="text") 
                                span.title indoor furniture
                                br
                                span.description save up to 50% of all furniture
                                a(href = "#") SHOP NOW
                        div(class="mySlides")
                            img(src="https://loremflickr.com/750/465/dog?random=3", style="width:100%")
                            div(class="text") 
                                span.title indoor furniture
                                br
                                span.description save up to 50% of all furniture
                                a(href = "#") SHOP NOW
                    div.button-silder
                        a(class="prev") 
                            i.fa.fa-chevron-left
                        a(class="next")
                            i.fa.fa-chevron-right
        .row

