doctype html
html(lang = "en")
  head
    title= title

    link(rel="shortcut icon", type="image/png", href="/images/logo.png")
    
    link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
    link(rel = "stylesheet", href = "/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/slick.css")
    link(rel="stylesheet", href="/stylesheets/slick-theme.css")
    link(rel = 'stylesheet', href = '/stylesheets/style.css')

  body
    #header
      #header-top
        div.container-fluid(style = "padding: 0;")
          div.container
            .row.justify-content-between
              #header-help.col-5.col-sm-5.col-md-5.col-lg-4.col-xl-4
                ul
                  li
                    a(href = "javasrcipt:void()") USD 
                      i.fa.fa-caret-down 
                    ul
                      li
                        a(href = "javasrcipt:void()") USD 
                      li
                        a(href = "javasrcipt:void()") VND 
                  li
                    a(href = "javasrcipt:void()") ENG 
                      i.fa.fa-caret-down
                    ul
                      li
                        a(href = "javasrcipt:void()") VIETNAMESE 
                      li
                        a(href = "javasrcipt:void()") ENGLISH 
              #header-login.col-7.col-sm-7.col-md-7.col-lg-4.col-xl-4
                ul
                  li
                    i.fa.fa-user 
                    a(href = "javasrcipt:void()") Login 
                  li
                    i.fa.fa-lock 
                    a(href = "javasrcipt:void()") Register
                  li
                    a(href = "javasrcipt:void()") 
                      i.fa.fa-bars
      #header-middle
        div.container-fluid
          div.container
            .row
              .col-3.col-sm-3.col-md-4.col-lg-3.col-xl-3#hotline
                a(href="javascript:void()") 
                  i.fa.fa-mobile
                  ='2300 - 3560 - 222'
              .col-9.col-sm-9.col-md-4.col-lg-6.col-xl-6
                a(href="javascript:void()").logo
                  img(src="/images/logo.png", alt="logo")
              .col-3.col-sm-3.col-md-4.col-lg-3.col-xl-3#header-cart
                a(href="javascript:void()")
                  i.fa.fa-shopping-basket
                  span.count-Cart 0
                  
    div.container-fluid.bkg-menu
      div.container
        .row
          .col-9.col-sm-10.col-md-10.col-lg-6.col-xl-6.d-flex.align-items-center
            form(action="", method = " GET")
              div.custom-select-not-bootstrap
                select(name="category")
                  option(value="0") Select a category
                  option(value="1") Chair
                  option(value="2") Sofa
              input(type="text", placeholder = "Search product...")
              button(type="submit")
                i.fa.fa-search
          .col-3.col-sm-2.col-md-2.col-lg-6.col-xl-6.menu
            button#open-menu
              i.fa.fa-bars
            ul#main-menu
              li.active
                a(href="#") Home
              li
                a(href="#") Furniture
              li
                a(href="#") Chair 
              li
                a(href="#") Table
              li
                a(href="#") Sofa
              li
                a(href="#") Bedroom
              li
                a(href="#") Contact
              li
                button#close-menu
                  i.fa.fa-sign-out
    block content

    
    script(src = "https://code.jquery.com/jquery-2.2.0.min.js")
    
    script(src = "/javascripts/popper.min.js")
    script(src = "/javascripts/bootstrap.min.js")
    script(src = "/javascripts/slick.min.js")
    script(src = "/javascripts/mainJS.js")