body {
  padding: 0;
  margin: 0;
  font: 14px Arial, "Lucida Grande", Helvetica,  sans-serif;
}

#header-top {
  background-color: #434343;
  color: #fff;
  padding: 16px 0px;
}

#header ul {
  margin: 0;
}

#header-help > ul, #header-login > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

#header-login > ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}

#header-login > ul {
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

#header-help > ul li, #header-login > ul li {
  list-style: none;
}

#header-help > ul > li, #header-login > ul > li {
  position: relative;
  padding: 0 13px;
}

#header-help > ul > li:not(:first-child) {
  border-left: #e1e1e1 solid 1px;
}

#header-help > ul > li:first-child, #header-login > ul > li:first-child {
  padding-left: 0;
}

#header-help > ul > li:last-child, #header-login > ul > li:last-child {
  padding-right: 0;
}

#header-help > ul li > ul {
  position: absolute;
  top: 105%;
  left: 0px;
  display: none;
  width: -webkit-max-content;
  width: max-content;
  width: -moz-max-content;
  max-width: 150px;
  background-color: #434343;
  min-width: 100px;
  padding: 0px;
  border-top: #e1e1e1 solid 1px;
  z-index: 1;
}

#header-help > ul li:hover > ul {
  display: block;
}

#header-help > ul li a, #header-login > ul li a {
  color: #e1e1e1;
  text-decoration: none;
}

#header-help > ul > li > ul > li {
  border-bottom: 1px solid #e1e1e1;
}

#header-help > ul > li > ul > li a {
  display: block;
  padding: 5px 15px;
}

#header-help > ul > li > ul > li:hover a {
  background-color: #fff;
  color: #434343;
}

#header-help > ul > li > ul > li:last-child a {
  border: none;
  margin-bottom: 0;
}

#header-login > ul li i:not(:last-child) {
  margin-right: 10px;
}

#header-middle {
  background-color: #363636;
  padding: 34px 0;
}

#header-middle .logo {
  display: block;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hotline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hotline a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d8d8d8;
  font-size: 17px;
}

#hotline .fa-mobile::before {
  color: #d58e32;
  font-size: 44px;
  margin-right: 14px;
}

#header-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-cart a {
  color: #d8d8d8;
  text-decoration: none;
  width: 50px;
  height: 50px;
  background-color: #d58e32;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  position: relative;
  font-size: 20px;
  border-radius: 2px;
}

#header-cart a span {
  position: absolute;
  right: -18px;
  font-size: 14px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 100%;
  z-index: 1;
  color: #e0e3ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 28px;
  min-height: 28px;
  background-color: #363636;
}

.bkg-menu {
  background-color: #ffffff;
  -webkit-box-shadow: rgba(1, 2, 2, 0.2) 0px 1px 10px;
          box-shadow: rgba(1, 2, 2, 0.2) 0px 1px 10px;
}

@media (min-width: 1000px) {
  .menu button {
    display: none;
  }
  .menu #main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 0;
    margin: 0;
  }
  .menu #main-menu li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    list-style: none;
  }
  .menu #main-menu li a {
    text-align: center;
    padding: 36px 6px;
  }
}

#main-menu li a {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  color: #2a2a2a;
  text-decoration: none;
}

#main-menu .active a {
  background-color: #d58e32;
  border-top: #2a2a2a solid 4px;
  color: #ffffff;
}

#main-menu li:hover a {
  background-color: #d58e32;
  border-top: #2a2a2a solid 4px;
  color: #ffffff;
}

@media (max-width: 999.98px) {
  .bkg-menu {
    padding: 15px;
  }
  .menu button {
    display: block;
    margin-left: auto;
    font-size: 25px;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
  }
  .menu #main-menu {
    display: block;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    right: -100%;
    background-color: #fff;
    height: 100%;
    min-width: 250px;
    z-index: 2;
    -webkit-animation-name: close-menu;
            animation-name: close-menu;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .menu .show-menu {
    -webkit-animation-name: show-menu !important;
            animation-name: show-menu !important;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .menu #main-menu li {
    list-style: none;
  }
  .menu #main-menu li a {
    padding: 15px;
  }
  .menu #close-menu {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  #header-help, #header-login {
    padding: 0 5px;
  }
  #header-middle .logo {
    text-align: left;
  }
  #hotline {
    display: none;
  }
}

@-webkit-keyframes show-menu {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes show-menu {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes close-menu {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@keyframes close-menu {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
/*# sourceMappingURL=style.css.map */