body {
  padding: 0;
  margin: 0;
  font: 14px Arial, "Lucida Grande", Helvetica, sans-serif;
}

#header-top {
  background-color: #434343;
  color: #fff;
  padding: 16px 0px;
}

#header ul {
  margin: 0;
}

#header-help > ul,
#header-login > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

#header-login > ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}

#header-login > ul {
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

#header-help > ul li,
#header-login > ul li {
  list-style: none;
}

#header-help > ul > li,
#header-login > ul > li {
  position: relative;
  padding: 0 13px;
}

#header-help > ul > li:not(:first-child) {
  border-left: #e1e1e1 solid 1px;
}

#header-help > ul > li:first-child,
#header-login > ul > li:first-child {
  padding-left: 0;
}

#header-help > ul > li:last-child,
#header-login > ul > li:last-child {
  padding-right: 0;
}

#header-help > ul li > ul {
  position: absolute;
  top: 105%;
  left: 0px;
  display: none;
  width: -webkit-max-content;
  width: max-content;
  width: -moz-max-content;
  max-width: 150px;
  background-color: #434343;
  min-width: 100px;
  padding: 0px;
  border-top: #e1e1e1 solid 1px;
  z-index: 1;
}

#header-help > ul li:hover > ul {
  display: block;
}

#header-help > ul li a,
#header-login > ul li a {
  color: #e1e1e1;
  text-decoration: none;
}

#header-help > ul > li > ul > li {
  border-bottom: 1px solid #e1e1e1;
}

#header-help > ul > li > ul > li a {
  display: block;
  padding: 5px 15px;
}

#header-help > ul > li > ul > li:hover a {
  background-color: #fff;
  color: #434343;
}

#header-help > ul > li > ul > li:last-child a {
  border: none;
  margin-bottom: 0;
}

#header-login > ul li i:not(:last-child) {
  margin-right: 10px;
}

#header-middle {
  background-color: #363636;
  padding: 34px 0;
}

#header-middle .logo {
  display: block;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hotline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hotline a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d8d8d8;
  font-size: 17px;
}

#hotline .fa-mobile::before {
  color: #d58e32;
  font-size: 44px;
  margin-right: 14px;
}

#header-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-cart a {
  color: #d8d8d8;
  text-decoration: none;
  width: 50px;
  height: 50px;
  background-color: #d58e32;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  position: relative;
  font-size: 20px;
  border-radius: 2px;
}

#header-cart a span {
  position: absolute;
  right: -18px;
  font-size: 14px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 100%;
  z-index: 1;
  color: #e0e3ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 28px;
  min-height: 28px;
  background-color: #363636;
}

.bkg-menu {
  background-color: #ffffff;
  -webkit-box-shadow: rgba(1, 2, 2, 0.2) 0px 1px 10px;
          box-shadow: rgba(1, 2, 2, 0.2) 0px 1px 10px;
}

.bkg-menu form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #2a2a2a;
}

.bkg-menu form input[type="text"] {
  border: none;
  border-left: 1px solid #2a2a2a;
  padding: 12px;
  height: 100%;
  display: block;
}

.bkg-menu form button[type="submit"] {
  border: none;
  background: none;
  height: 40px;
  width: 40px;
  color: #2a2a2a;
}

@media (min-width: 1000px) {
  .menu button {
    display: none;
  }
  .menu #main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 0;
    margin: 0;
  }
  .menu #main-menu li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    list-style: none;
  }
  .menu #main-menu li a {
    text-align: center;
    padding: 36px 6px;
  }
}

#main-menu li a {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  color: #2a2a2a;
  text-decoration: none;
}

#main-menu .active a {
  background-color: #d58e32;
  border-top: #2a2a2a solid 4px;
  color: #ffffff;
}

#main-menu li:hover a {
  background-color: #d58e32;
  border-top: #2a2a2a solid 4px;
  color: #ffffff;
}

@media (max-width: 999.98px) {
  .bkg-menu {
    padding: 15px;
  }
  .menu button {
    display: block;
    margin-left: auto;
    font-size: 25px;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
  }
  .menu #main-menu {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    right: -100%;
    background-color: #fff;
    height: 100%;
    min-width: 250px;
    z-index: 2;
  }
  .menu .show-menu {
    -webkit-animation-name: show-menu !important;
            animation-name: show-menu !important;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .menu .close-menu {
    -webkit-animation-name: close-menu;
            animation-name: close-menu;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .menu #main-menu li {
    list-style: none;
  }
  .menu #main-menu li a {
    padding: 15px;
  }
  .menu #close-menu {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  #header-help,
  #header-login {
    padding: 0 5px;
  }
  #header-middle .logo {
    text-align: left;
  }
  #hotline {
    display: none;
  }
}

@-webkit-keyframes show-menu {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes show-menu {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes close-menu {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@keyframes close-menu {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

/*the container must be positioned relative:*/
.custom-select-not-bootstrap {
  position: relative;
  font-family: Arial;
}

@media (max-width: 740px) {
  .custom-select-not-bootstrap {
    display: none;
  }
  .bkg-menu form input[type="text"] {
    border: none;
  }
}

.custom-select-not-bootstrap select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0ca";
  color: #d58e32;
  font-size: 22px;
  margin-right: 16px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 60%;
  right: 10px;
  width: 0;
  height: 0;
  -webkit-transform: translate(0, -60%);
          transform: translate(0, -60%);
  border: 6px solid transparent;
  border-color: #2a2a2a transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #2a2a2a transparent;
  top: 40%;
  -webkit-transform: translate(0, -40%);
          transform: translate(0, -40%);
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #2a2a2a;
  padding: 8px 14px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  min-width: 200px;
}

.select-selected {
  border: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #2a2a2a;
  background-color: #fff;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#hot-deals #hot-deals-header {
  background-color: #2a2a2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hot-deals #hot-deals-header #title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}

#hot-deals #hot-deals-header .nav-tabs {
  border: none;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

#hot-deals #hot-deals-header .nav-tabs .nav-link {
  color: #e2e2e2;
  border: none;
  padding: 0.5rem;
}

#hot-deals #hot-deals-header .nav-tabs .active {
  color: #d58e32;
  border: none;
  border-radius: 0;
  background: none;
}

#hot-deals #hot-deals-header .nav-tabs .nav-link:hover {
  border: none;
  border-radius: 0;
}

#hot-deals #hot-deals-header .nav-tabs .nav-link::before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f111";
}

#hot-deals .container {
  padding: 0;
}

.slideshow-container {
  position: relative;
  margin: auto;
  cursor: -webkit-grab;
  cursor: grab;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slideshow-container .conten-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slideshow-container .conten-slider .mySlides {
  width: 100%;
  max-height: 100%;
  display: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.slideshow-container .conten-slider .mySlides .numbertext {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.slideshow-container .conten-slider .mySlides .text {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  -webkit-animation-name: bottomTop;
          animation-name: bottomTop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  text-align: center;
  padding: 50px 0;
}

.slideshow-container .conten-slider .mySlides .text .title {
  font-size: 2.3em;
  text-transform: uppercase;
}

.slideshow-container .conten-slider .mySlides .text .description {
  font-size: 1.3em;
  text-transform: uppercase;
}

.slideshow-container .conten-slider .mySlides .text a {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: calc(-100% / 10);
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #2a2a2a;
  background-color: #ffffff;
  display: block;
}

.slideshow-container .conten-slider .active {
  display: block;
}

.slideshow-container .conten-slider .opennext {
  position: absolute;
  -webkit-animation-name: opennext;
          animation-name: opennext;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideshow-container .conten-slider .closenext {
  position: relative;
  -webkit-animation-name: closenext;
          animation-name: closenext;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideshow-container .conten-slider .openprev {
  position: absolute;
  -webkit-animation-name: openprev;
          animation-name: openprev;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideshow-container .conten-slider .closeprev {
  position: relative;
  -webkit-animation-name: closeprev;
          animation-name: closeprev;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideshow-container .next,
.slideshow-container .prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 32px;
  font-weight: 700;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.slideshow-container .next:hover,
.slideshow-container .prev:hover {
  background-color: #2e2e2e;
  color: #ffffff !important;
  border-radius: 100%;
}

.slideshow-container .prev {
  left: 10px;
}

.slideshow-container .next {
  right: 10px;
}

.button-silder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-silder .prev,
.button-silder .next {
  font-size: 14px;
  position: initial;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transform: inherit;
          transform: inherit;
  background-color: #2e2e2e;
  color: #ffffff !important;
  width: inherit;
  height: inherit;
  padding: 15px 0;
}

.button-silder .next:hover,
.button-silder .prev:hover {
  background-color: #d58e32;
  color: #ffffff;
  border-radius: 0;
}

@-webkit-keyframes bottomTop {
  from {
    top: 0;
  }
  to {
    top: 50%;
  }
}

@keyframes bottomTop {
  from {
    top: 0;
  }
  to {
    top: 50%;
  }
}

@-webkit-keyframes opennext {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes opennext {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes closenext {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@keyframes closenext {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@-webkit-keyframes openprev {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes openprev {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@-webkit-keyframes closeprev {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes closeprev {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
/*# sourceMappingURL=style.css.map */